body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "El Messiri", serif;
}

a:hover{
    color: none;
}

a{
    text-decoration: none;
    color: #000;
}

:root{
    --main-color : #F24547;
}

/* **** general styles **** */

.container{
    width: 75%;
    margin: auto;
}




/* !!!! header to show when scroll */

/* **** hero image **** */

.main-hero-img{
    width: 100%;
    height: 80vh;
}

.hero-img-box{
    width: 100%;
    height: 100%;
}

.hero-img-box img{
    width: 100%;
    height: 100%;
}


/* *** form input icon ( password )  ***/

.pass-box{
    position: relative;
}

form i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 17px;
    color:#333;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

form i:hover{
    color: black;
}

#hide, #show{
    display: none;
}




/* *** products section styles *** */

.mycontainer{
    width: 75%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
}

.product-content-title{
    padding: 15px 0px;
    color: #222;
    font-size: 31px;
    font-weight: bold;
    text-transform: capitalize;
}

.product-content-span{
    font-size: 16px;
    color: #444;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}


/* product data & infos */

.product-data-section,
.product-data-section-cart
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 30px;
}




.product-data-section *{
    font-family: "El Messiri", sans-serif;
}

.product-container{
    padding: 0px 0px 12px 0px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.product-container:hover{
    border: 1px solid var(--main-color);
}

.main-second-product .product-img-box{
    width: 100%;
    height: 330px;
    margin: auto;
}

.product-img{
    width: 100%;
    height: 100%;
}

.product-infos-box{
    width: 1fr;
    padding: 10px 18px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title{
    text-align: center;
    padding-top: 12px;
    font-size: 16px;
}

.product-old-price{
    color: gray;
    text-decoration: line-through;
    padding-top: 12px;
    font-size: 16px;
}

.product-price{
    color:var(--main-color);
    font-size: 17px;
    font-weight: bold;
}

.product-btn{
    display: inline-block;
    margin-top: 20px;
    width: 260px;
    height: 42px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--main-color);
    background: none;
    border: 1px solid var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.product-btn:hover{
    background-color: var(--main-color);
    color: white;
}

.favorite-a{
    width: 260px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--main-color);
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
    font-weight: bold;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}




.favorite-a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 0;
    height: 1px;
    background: var(--main-color);
    transition: width 0.3s ease;
}


.favorite-a:hover::after{
    width: 40%;
    margin: auto;
}




.favorite{
    margin-right: 8px;
    padding: 5px;
    font-weight: 500;
    position: absolute;
    left:  20px;
    bottom: 5px;
}

/* main hover of product div */
.product-img-box{
    overflow: hidden;
}

.product-container:hover .product-img{
    transition: all 0.4s ease;
    scale: 1.2;
}



/* !!!! second  products content style */
.second-products{
    text-align: center;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 60px;
}

.product-second-title{
    font-size: 31px;
    letter-spacing: 1.1px;
    padding: 8px 0px;
}

.product-second-sub-title{
    font-size: 16px;
    color: #444;
    letter-spacing: 1.1px;
}



.main-second-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.product-box{
    position: relative;
    width: 31%;
}


.second-product-img-box img{
    width: 100%;
    height: 100%;
    transition: scale 0.3s;
}


.second-product-img-box:hover img{
    scale: 1.15;
}

.product-box{
    overflow: hidden;
}

.product-box:hover{
    border: 1px solid var(--main-color);
}


.second-product-product{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f2f2f2d8;
    padding: 15px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.second-product-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-product-product-title{
    font-size: 16px;
}

.second-product-old-price{
    font-size: 16px;
    text-decoration: line-through;
    color: #747474;
    font-weight: 600;
}

.second-product-price{
    font-size: 17px;
    color: var(--main-color);
    font-weight: bold;
}


/* !!!!! last products sections styles */

.last-product-section{
    width: 80%;
    margin: 80px auto 25px auto;
    text-align: center;
}

.last-product-h2{
    font-size: 31px;
    padding-bottom: 5px;
}

.last-product-span{
    font-size: 18px;
}


.last-product-products-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.last-product-content-box{
    flex-grow: 1;
    text-align: center;
    padding: 35px 0px;
}


.last-text-content span{
    display: block;
}


.last-icon-box i{
    font-size: 45px;
    color: var(--main-color);
    margin: 0px auto 30px;
}

.last-text-content-span{
    font-size: 1.17em;
    color: var(--main-color);
    margin: 0px 0px 5px;
    font-weight: 700;
}

.last-text-content-sub-span{
    font-size: 18px;
}



.footer-logo-container{
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-box{
    margin: 15px 0px;
    width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-box img{
    width: 90%;
}


hr{
    width: 80%;
    margin: auto;
    color: #ddd;
    font-size: 0.5px;
}

footer{
    padding: 25px 0px 45px 0px;
    background: black;
    border-top: 1px solid var(--main-color);
}


.footer-text-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.footer-link-box{
    width: 30%;
}

.footer ul li a{
    color: var(--main-color);
}

.footer ul li:first-of-type{
    padding: 15px 0px;
}

.footer ul li:first-of-type a{
    font-size: 21px;
    font-weight: 600;
    position: relative;
}

.footer ul li:first-of-type a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 25px;
    height: 2px;
    background: var(--main-color);
}

.footer-a{
    display: block;
    padding: 4px 0px;
}